@page "/"
@using System.Globalization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CultureInfo> StringLocalizer

<h1>Hello, world!</h1>

Welcome to your new app.

<hr />
<h3>Culture Info - @StringLocalizer["Hello"]</h3>
<p>Current Culture: <strong>@CultureInfo.CurrentUICulture.DisplayName</strong></p>
<p>Current Culture Code: <strong>@CultureInfo.CurrentCulture.Name</strong></p>
<p>Current UI Culture Code: <strong>@CultureInfo.CurrentUICulture.Name</strong></p>
<p>Current Culture Currency Symbol: <strong>@CultureInfo.CurrentUICulture.NumberFormat.CurrencySymbol</strong></p>
<p>Current Culture DateTime Pattern: <strong>@CultureInfo.CurrentUICulture.DateTimeFormat.FullDateTimePattern</strong></p>

<SurveyPrompt Title="How is Blazor working for you?" />
